# common cache files
.DS_Store
Thumbs.db
.cache/
node_modules/
dist/

# Dev tools and environment
.vscode
.idea
.env
*.env.*

# Temporary files
*.tmp
temp/

# Logs
logs
npm-debug.log*

# User data
data

# Code completion context files
GEMINI.md
CLAUDE.md
.sysprompt*

minerva-asset-repo/*